<div class="page-signin" ng-controller="AuthCtrl">
    <div class="auth-container">
        <div class="signin-header">
            <section class="logo text-center">
                <h1><a href="#/">{{main.brand}}</a></h1>
            </section>
        </div>
        <div class="signin-body">
            <div class="form-container">
                <form class="form-horizontal" ng-submit="login()">
                    <fieldset>
                        <div class="form-info">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-email"></span>
                                    </span>
                                    <input type="email" placeholder="Email" class="form-control input-lg" ng-required="true" data-ng-model="user.email" id="user.email" name="email" />
                                    <div data-ng-show="form.$submitted || form.email.$touched">
                                        <div class="divider"></div>
                                        <span class="alert alert-danger col-xs-12" ng-show="form.email.$error.required">* Email required for login</span>
                                        <span class="alert alert-danger col-xs-12" ng-show="form.email.$error.email">* Enter a valid email address</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-last">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-lock"></span>
                                    </span>
                                    <input type="password" placeholder="Password" class="form-control input-lg" required data-ng-model="user.password" id="user.password" name="password" />
                                    <div data-ng-show="form.$submitted || form.password.$touched">
                                        <div class="divider"></div>
                                        <span class="alert alert-danger col-xs-12" ng-show="form.password.$error.required">* Password is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-submit">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block text-center">Log in</button>
                            </div>
                            <div class="divider"></div>
                            <div class="{{alert.class}}" data-ng-show="alert.show">{{alert.message}}</div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="divider"></div>
            <section class="additional-info">
                <p class="text-right">
                    <a href="#/auth/forgot-password">Forgot your password ?</a>
                    <span> | </span>
                    <a href="#/auth/register">Register</a>
                </p>
            </section>
        </div>
    </div>
</div>