<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span data-translate="NAVIGATION"></span>
        </li>

        <!-- not logged in -->
        <li data-ng-show="!signedIn()"><a href="#/auth/login"><i class="fa fa-sign-in"></i><span data-translate="LOGIN"></span></a></li>
        <li data-ng-show="!signedIn()"><a href="#/auth/register"><i class="fa fa-registered"></i><span data-translate="REGISTER"></span></a></li>

        <!-- logged in -->
        <li data-ng-show="signedIn()"><a href="#/projects"><i class="ti-home"></i><span data-translate="PROJECTS"></span></a></li>
        <li data-ng-show="signedIn() && ($root.user.role == 1 || $root.user.role == 2)"><a href="#/orders"><i class="fa fa-shopping-cart"></i><span data-translate="ORDERS"></span></a></li>
        <li data-ng-show="signedIn() && ($root.user.role == 1)"><a href="#/products"><i class="fa fa-barcode"></i><span data-translate="PRODUCTS"></span></a></li>
        <li data-ng-show="signedIn()"><a href="" data-ng-click="logoutUser()"><i class="fa fa-sign-in"></i><span data-translate="LOGOUT"></span></a></li>
    </ul>
</div>