<script type="text/ng-template" id="delete-product.html">
    <form name="frm_ep" ng-submit="deleteProduct(product)">
        <div class="modal-header">
            <h3>
                <i class="fa fa-trash"></i> Are you sure you want to delete <i>"{{product.product_name}}"</i> ?
            </h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-w-md">
                <i class="fa fa-check"></i> Yes
            </button>
            <a href="" class="btn btn-w-md" ng-click="cancelModal()">
                <i class="fa fa-close"></i> No
            </a>
        </div>
    </form>
</script>