<div class="page page-dashboard" data-ng-controller="ProductsCtrl">
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <div class="col-xs-3">
                <button type="button" class="btn btn-w-sm btn-gap-v btn-primary" ng-click="openUpdateProduct({})">
                    <i class="fa fa-plus-circle"></i> Add
                </button>
            </div>
            <h4 ng-show="(products | array).length == 0">* no products yet, add a new product</h4>
            <table class="table" ng-hide="(products | array).length == 0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Created by</th>
                    <th>Date Created</th>
                    <th class="col-xs-1">&nbsp;</th>
                    <th class="col-xs-1">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-if="products" ng-repeat="p in products">
                        <td>{{p.id}}</td>
                        <td>{{p.product_name}}</td>
                        <td>{{p.price}} $</td>
                        <td>{{p.quantity}}</td>
                        <td>{{p.vendor}}</td>
                        <td class="col-xs-1">
                            <button type="button" class="btn btn-w-sm btn-gap-v btn-success" ng-click="openUpdateProduct(p)">
                                <i class="fa fa-edit"></i> Edit
                            </button>
                        </td>
                        <td class="col-xs-1">
                            <button type="button" class="btn btn-w-md btn-gap-v btn-danger" ng-click="openDeleteProduct(p)">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'views/products/update-product.html'"></div>
<div ng-include="'views/products/delete-product.html'"></div>
